<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width,initial-scale=1.0">
    <title>receta de milanesa de carne</title>
    <link rel="stylesheet" href="../css/style.css">
     </head>
     <body>
        <h1>Receta de milanesa de carne en simples pasos</h1>
        <img src="img/milanesa.jpg" height="250"width="500" alt="milanesa">
            <p>Existen muchas recetas de milanesa pero si se dejan reposar en la mezcla de huevo quedan mejor</p>
            <hr/>
        <h2>Lista de ingredientes</h2>
      <ul>
         <li>4 huevos</li>
         <li>2 dientes de ajo</li>
         <li>perejil picado</li>
         <li>sal y pimienta a gusto</li>
         <li>pan rallado</li>
         <li>1 kilo de nalga o peceto para milanesa</li>
      </ul>
      <h2>Lista de pasos</h2>
      <ol type="I">
          <li>Pelar los ajos y picar junto con el perejil</li>
          <li>Colocar los huevos en un bowl y batir hasta disolverlos bien. Luego agregar el perejil, los ajos y condimentar con sal y pimienta</li>
          <li>Colocar la carne en la mezcla anterior, deje unos minutos, retirar y pasar por pan rallado</li>
          <li>En una sartén con abundante aceite caliente freír las milanesas. Retirar y escurrir en papel absorbente</li>
          <iframe width="573" height="322" src="https://www.youtube.com/embed/hTWHvgwSrp0" title="La MILANESA PERFECTA: cómo hacer milanesas, receta y TRUCAZOS - Paulina Tirapostas E02" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          
      </ol>
      <ul>
      <li><a href="https://www.clarin.com/recetas/platos-principales/milanesas_7_FlHEbj_QK.html"><strong>LEER ESTA RECETA</strong></a></li>
      <li><a href="chocotorta.html"><strong>leer receta de chocotorta</strong></a></li>
      <li><a href="../../index.html"><strong>volver al inicio</strong></a></li>
   </ul>
     </body>
</html>
