<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width,initial-scale=1.0">
    <title>Receta de chocotorta</title>
     </head>
     <body>
      <h1>Receta de chocotorta con tan solo 4 ingredientes</h1>
            <p>Sin dudas, uno de los postres favoritos de Argentina: la CHOCOTORTA, combina galletitas (oficialmente, "Chocolinas") y una crema de dulce de leche con queso blanco.
            </p>
            <hr/>
        <h2>Lista de ingredientes</h2>
      <ul>
         <li> 750 gr Chocolinas (3 paquetes grandes) </li>
         <li> 700 gr dulce de leche repostero </li>
         <li> 700 gr queso crema </li>
         <li> 150 ml leche (chocolatada, con café, o con algún licor o vino)
            frutas o decoración a elección (opcional) </li>
      </ul>
      <h2>Lista de pasos</h2>
      <ol type="I">
          <li>Empezá mezclando el dulce de leche con el queso crema. Si vas a hacer la torta sin bordes que la sostengan, llevá esta crema a la heladera (o freezer) un rato, así tiene una consistencia más firme.</li>
          <li>Mojá las galletitas en leche (yo usé un café latte caramel) y llévalas a la fuente, una al lado de la otra, armando filas según el recipiente.
            Cuando tengas toda la base, agregá una capa de la mezcla de dulce de leche. Si tenés una fuente con paredes podes hacerlo con una cuchara, pero en mi caso, usé una manga para que se vea después el dulce de leche prolijamente.</li>
          <li>Luego de esa capa de crema y dulce de leche, moja nuevamente galletitas y armá otro piso, y así sucesivamente.
            Mi chocotorta llevó 5 pisos de 20 galletitas cada uno (tres paquetes de 250 gr).
            Arriba, decoré la última capa con picos de dulce de leche y muchos frutos rojos
          </li>
         
      </ol>
      <ul>
      <li><a href="https://cookpad.com/ar/recetas/15530997-chocotorta-argentina"><strong>LEER ESTA RECETA</strong></a></li>
      <li><a href="milanesa.html"><strong>leer receta de milanesa</strong></a></li>
    <li><a href="../../index.html"><strong>volver al inicio</strong></a></li>
    </ul>
     </body>
</html>